{% extends "base.html" %}
{% comment 'header' %}
# This file is part of opentaps Smart Energy Applications Suite (SEAS).

# opentaps Smart Energy Applications Suite (SEAS) is free software:
# you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# opentaps Smart Energy Applications Suite (SEAS) is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.

# You should have received a copy of the GNU Lesser General Public License
# along with opentaps Smart Energy Applications Suite (SEAS).
# If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}

{% block title %}Meter: {{ object.meter_id }}{% endblock %}

{% block content %}
<div class="container">

  {% include "core/_breadcrumbs.html" %}

  {% block add_button %}
  <div class="d-flex mb-2">
    <a href="{% url 'core:meter_create' object.site_id %}" class="btn btn-primary ml-auto" role="button"><i class="fa fa-plus"></i> Add Meter</a>
  </div>
  {% endblock add_button %}
  <div class="card mb-3">
    <div class="card-body">
      {% if object.description %}
        <h2>Meter {{ object.description }} <span style="font-size: 1rem;">(id: {{ object.meter_id }})</span></h2>
      {% else %}
        <h2>Meter {{ object.meter_id }}</h2>
      {% endif %}
      <br/>
      {% block inner_content %}
      <p>
        {% include "core/_meter_history_chart.html" with meter_id=object.meter_id %}
      </p>

      <p><b>Weather Station:</b> 
        {% if not object.weather_station %}
          n/a
        {% else %}
          <a href="{% url 'core:weather_station_detail' object.weather_station.weather_station_id %}">{{ object.weather_station }}</a>
        {% endif %}
      </p>

      {% if has_weather_data %}
      <p>
        {% include "core/_weather_history_chart.html" with weather_station_id=object.weather_station_id site=object.site %}
      </p>
      {% endif %}

      <div class="form-group d-flex justify-content-around mt-5">
        <a href="{% url 'core:meter_deactivate' object.meter_id %}" class="btn btn-danger col-5" role="button" ><i class="fa fa-trash mr-2"></i> Deactivate</a>
        <a href="{% url 'core:meter_edit' object.meter_id %}" class="btn btn-primary col-5" role="button"><i class="fa fa-edit mr-2"></i> Edit</a>
      </div>
      {% endblock inner_content %}
    </div>
  </div>

  {% if object and object.meter_id %}
  <div class="card mb-3">
    <div class="card-body">
      <h3>
        <div class="row m-0">
          <div class="">
            Models
          </div>
          <div class="text-right flex-grow-1">
            <a class="btn btn-primary" href="{% url 'core:meter_model_create' object.meter_id %}"><i class="fa fa-plus"></i> Create a Model</a>
          </div>
        </div>
      </h3>
      <div class="header-top">
          {% load qs_order_by from core_tags %}
          {% for model in object.baselinemodel_set.all|qs_order_by:'-id' %}
            <div class="row meter-row">
              <div class="col-auto">
                <a href="{% url 'core:meter_model_detail' model.meter_id model.id %}">{{ model.id }}: {{ model.description|default:model.model_class }}</a>
              </div>
              <div class="col-auto" style="width:14em">{{ model.from_datetime|date:'m/d/Y' }} to {{ model.thru_datetime|date:'m/d/Y' }}</div>
              <div class="col text-muted small pl-0 pt-1 text-right">{{ model.created_datetime|date:'m/d/Y' }}</div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endblock content %}
