{% extends "base.html" %}
{% comment 'header' %}
# This file is part of opentaps Smart Energy Applications Suite (SEAS).

# opentaps Smart Energy Applications Suite (SEAS) is free software:
# you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# opentaps Smart Energy Applications Suite (SEAS) is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.

# You should have received a copy of the GNU Lesser General Public License
# along with opentaps Smart Energy Applications Suite (SEAS).
# If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static i18n %}
{% block title %}Topics{% endblock %}

{% block content %}
<div class="container">

  {% include "core/_breadcrumbs.html" %}

  {% load crispy_forms_tags %}
  <div class="card mb-3">
    <div class="card-body">
      <form enctype="multipart/form-data" method="POST">
        {% if current_site %}
            <h4>Site {{ current_site.description }}</h4>
        {% else %}
            {{ form.site|as_crispy_field }}
        {% endif %}
        {% csrf_token %}

        {{ form.device_prefix|as_crispy_field }}
        {{ form.only_with_trending|as_crispy_field }}

        <div class="form-group d-flex justify-content-around mt-5">
          <a href="{{ back_url }}" class="btn btn-secondary col-5" role="button"><i class="fa fa-times mr-2"></i> Go Back</a>
          <button class="btn btn-primary col-5" type="submit"><i class="fa fa-upload mr-2"></i> Export Config Files</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
