{% extends "base.html" %}
{% comment 'header' %}
# This file is part of opentaps Smart Energy Applications Suite (SEAS).

# opentaps Smart Energy Applications Suite (SEAS) is free software:
# you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# opentaps Smart Energy Applications Suite (SEAS) is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.

# You should have received a copy of the GNU Lesser General Public License
# along with opentaps Smart Energy Applications Suite (SEAS).
# If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static i18n %}
{% load bootstrap4 %}
{% block title %}Topics{% endblock %}

{% block content %}

  {% include "core/_breadcrumbs.html" %}
  {% load render_table from django_tables2 %}
  {% url 'core:topic_import' as topic_import_url %}
  {% url 'core:topic_export0' as topic_export_url %}
  {% url 'core:topic_report_tags_csv' as topic_report_tags_url %}
  {% url 'core:topictagruleset_list' as topictagruleset_list %}

  <div class="card mb-3">
    <div class="card-body p-2 p-md-3" id="topics-list" v-cloak>
        <form action="" method="get" class="form" ref="topics_filter_form" v-on:submit.prevent="noop">
            <div class="filters">
              <div class="row m-0" v-for="(filter, index) in filters">
                <div class="row p-0 m-0 mb-2 mr-xl-2 col-12 col-xl-6 order-1 order-xl-0">
                  <div class="mr-2 p-0 col-auto">
                    <select class="form-control" v-model="filter.type" v-on:change="changed_filter_type(filter, index)">
                      <option value="c">Contains</option>
                      <option value="nc">Not Contains</option>
                    </select>
                  </div>
                  <div class="mr-2 p-0 col flex-grow">
                    <input type="text" class="form-control" placeholder="Filter Topics..." v-model="filter.value" v-on:keyup="filter_on_enter">
                  </div>
                  <div class="mr-2 p-0 col-auto">
                    <div v-if="index == filters.length - 1">
                      <a href="#" class="btn btn-outline-secondary" v-on:click="add_filter(filter)"><i class="fa fa-filter"></i></a>
                    </div>
                    <div v-else>
                      <a href="#" class="btn btn-outline-danger" v-on:click="delete_filter(filter, index)"><i class="fa fa-minus"></i></a>
                    </div>
                  </div>
                </div>

                <div class="m-0 mb-2 mr-2 mr-xl-0 p-0 col-auto text-right flex-grow-1 order-0 order-xl-1 d-flex flex-column flex-sm-row justify-content-end" v-if="index == 0">
                  {% bootstrap_button '<i class="fa fa-plus"></i> Import ' button_class='btn-primary mb-2 mb-sm-0 mr-sm-2' href=topic_import_url %}
                  {% bootstrap_button ' Rules <i class="fa fa-chevron-right"></i>' button_class='btn-primary mb-2 mb-sm-0 mr-sm-2' href=topictagruleset_list %}
                  {% bootstrap_button '<i class="fa fa-download"></i> Report' button_class='btn-primary mb-2 mb-sm-0 mr-sm-2' href=topic_report_tags_url %}
                  {% bootstrap_button 'Export' button_class='btn-primary' href=topic_export_url %}
                </div>

              </div>
              <input type="hidden" name="filters_count" value="{{ used_filters|length }}" />
            </div>
            <div class="rounded-lg bg-light mb-2 row">
              <div class="col-xl-6 col-lg-4">
                <input id="select_not_mapped_topics" type="checkbox" v-model="select_not_mapped_topics" v-on:change="submit_filters" class="invisible position-absolute"/>
                <label class="m-0 w-100 mx-auto text-center pt-2 pb-2 text-primary h-c" for="select_not_mapped_topics">
                  <span v-if="!select_not_mapped_topics" class="light-btn">Show unmapped topics only.</span>
                  <span v-if="select_not_mapped_topics" class="light-btn">Show all topics.</span>
                </label>
              </div>
              <div class="col-xl-6 col-lg-8" v-if="all_checked || select_all_matching">
                <input id="select_all_matching" type="checkbox" name="_ALL_" class="invisible position-absolute" v-model="select_all_matching" />
                <label class="m-0 w-100 mx-auto text-center pt-2 pb-2 h-c" for="select_all_matching">
                  <span v-if="!select_all_matching" class="text-primary light-btn">Select all that match the filters on all pages.</span>
                  <span v-if="select_all_matching" class="text-secondary">All topics on all pages selected.</span>
                  <span v-if="select_all_matching" class="text-primary light-btn">Clear selection.</span>
                </label>
              </div>
            </div>
            <div id="table_container" ref="table_container">
                {% render_table table %}
            </div>
        </form>

    </div>
  </div>

  <div id="topic-tag-form" v-cloak>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="position-relative">Tag Selected Topics <div class="a-rt">
          <button class="btn btn-secondary mr-2" style="top:-0.5em" :disabled="isSaving" v-on:click.stop.prevent="save_tags_from_model()"><i class="fa fa-plus mr-2"></i> Add From Model</button>
          <button class="btn btn-secondary" style="top:-0.5em" :disabled="isSaving" v-on:click.stop.prevent="save()"><i class="fa fa-plus mr-2"></i> Add Tag</button>
        </div></h4>
        <!--Add Tag-->
        <form novalidate v-if="isInitial || isSaving" class="main-form">
          <div class="container p-0" v-if="isAddingModel">
            <div class="form-group">
              <h5>Select Model</h5>
              <div v-for="item in model_selects" v-bind:key="item.level">
                <v-select v-if="item.models" label="description" :options="item.models" v-model="item.model" @input="item.select_model" class="mb-2" placeholder="Select a Model ..."></v-select>
              </div>
            </div>
            <div v-if="last_model_selected">
              <ul>
                <li v-for="tag in get_model_kvtags(last_model_selected)">${ tag.tag }: ${ tag.value }</li>
                <li v-for="tag in get_model_mtags(last_model_selected)">${ tag.tag }</li>
              </ul>
            </div>
            <div ref="add_tags_from_model_btn">
              <button v-if="last_model_selected" class="btn btn-outline-secondary" :disabled="isSaving" v-on:click.stop.prevent="save_tags_from_model()"><i class="fa fa-plus mr-2"></i> Add these Tags</button>
            </div>
          </div>
          <div class="container p-0" v-if="isAddingTag">
            <div class="col">
              <div class="alert alert-danger mt-3" role="alert" v-if="errors.error">
                ${ errors.error }
              </div>
              <div class="alert alert-success alert-dismissible fade show mt-3" role="alert" v-if="tag_topics_success">
                <div style="max-height:15em;overflow:auto">
                  Added the tags:
                  <ul>
                    <li v-for="tag in tag_topics_success.tags">
                      ${ display_tag(tag) }
                    </li>
                  </ul>

                  To the following topics / data points:
                  <ul>
                    <li v-for="updated in tag_topics_success.updated">
                      ${ updated.topic } : <a :href="get_point_link(updated)">${ display_point(updated) }</a>
                    </li>
                  </ul>
                </div>
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true" v-on:click="tag_topics_success = false">&times;</span>
                </button>
              </div>
              <div class="form-group">
                <label for="tagInput">Tag</label>
                <vue-bootstrap-typeahead
                  input-class="form-control"
                  :serializer="s => s.tag + ': ' + s.description"
                  id="tagInput"
                  ref="tagInput"
                  name="tag" v-model="tag"
                  @hit="selectedTag = $event"
                  :data="valid_tags" placeholder="Tag...">
                  <template slot="suggestion" slot-scope="{ data, htmlText }">
                    <span v-html="htmlText"></span>&nbsp;<small>${ data.kind }</small>
                  </template>
                </vue-bootstrap-typeahead>
                <span v-for="err in errors.tag" class="text-danger">${ err }</span>
              </div>

              <tag-value-input
                :csrfmiddlewaretoken="csrfmiddlewaretoken"
                :selected-tag="selectedTag"
                v-model="value"
                :errors="errors.value"></tag-value-input>

              <button class="invisible a-rt" :disabled="isSaving" v-on:click.stop.prevent="save()"><i class="fa fa-plus mr-2"></i> Add Tag</button>
            </div>
          </div>
        </form>
        <!--List Tags-->
        <div class="container tags-table ftable" ref="tag_list">
          <div scope="row" v-for="(item, idx) in sorted_items" :class="{ 'even': idx % 2 === 0, 'odd': idx % 2 !== 0, 'row': 1, 'align-items-start': 1, 'justify-content-between': 1, 'ftable-row': 1 }" v-if="should_display_tag(item)">
            <div :class="[item._protect ? 'col-12' : 'col-8', 'col-lg-auto', 'text-nowrap', 'm-0']">
              <span v-if="!get_link(item)">${display_tag(item)}</span>
              <a v-if="get_link(item)" :href="get_link(item)">${display_tag(item)}</a>
              <div v-if="item.parent" class="text-muted text-small text-wrap">
                from <a :href="model_link(item.parent)" target="_blank">${model_link_text(item)}</a>
              </div>
            </div>
            <div v-if="!item._protect" class="buttons text-nowrap col-auto row">
              <button v-if="item.value" v-on:click="edit_tag(idx)" class="btn btn-outline-primary btn-sm mr-1"><i class="fas fa-edit"></i></button>
              <button v-confirm="set_confirm(idx)" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button>
            </div>
          </div>
        </div>

        <!--modal-->
        <tag-form-modal
          title="Edit Tag"
          url=""
          :csrfmiddlewaretoken="csrfmiddlewaretoken"></tag-form-modal>

        <div class="form-group d-flex justify-content-around" v-if="sorted_items.length">
          <button class="btn btn-primary col-5" :disabled="isSaving" v-on:click.stop.prevent="apply_tags()"><i v-if="isSaving" class="fas fa-spinner fa-spin"></i><i v-else class="fa fa-check mr-2"></i> Apply Tags</button>
          {% if not rule %}
          <button class="btn btn-secondary col-5" :disabled="isSaving" v-on:click.stop.prevent="toggle_show_save_rule()">Save as a Rule <i class="fa fa-chevron-right ml-2"></i></button>
          {%endif%}
        </div>
      </div>
    </div>

    <div class="card mb-3" v-if="show_save_rule">
      <div class="card-body">
        <h4 ref="save_rule_title">Save as a Rule</h4>
        <div class="alert alert-danger mt-3" role="alert" v-if="rule_errors.error">
          ${ rule_errors.error }
        </div>
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert" v-if="create_rule_success">
          <div>Successfully ${ create_rule_success.action } Rule "${ create_rule_success.rule.name }" in Rule Set "${ create_rule_success.rule_set.name }" ${ create_rule_success.details }.</div>
          <button type="button" class="close" aria-label="Close" v-on:click="create_rule_success = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="get" class="form" ref="save_as_rule_form" v-on:submit.prevent="set_save_rule">
          <div class="form-group">
            <label for="ruleSet">Rule Set</label>
            <div class="row">
              <div class="col col-auto">
                <select class="form-control" v-model="ruleset_type">
                  {%if rule %}<option value="current">Current: {{ rule.rule_set.name|safe }}</option>{%endif%}
                  <option value="new">Create New</option>
                  <option value="existing">Select Existing</option>
                </select>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="ruleSet" placeholder="Rule Set" v-model="ruleset_name" v-if="ruleset_type == 'new'" required />

              <vue-bootstrap-typeahead
                required
                v-if="ruleset_type == 'existing'"
                :input-class="'form-control' + (rule_errors['rule_set_id'] ? ' is-invalid' : '')"
                :serializer="s => s.name"
                :min-matching-chars="0"
                name="selected_ruleset"
                @hit="selected_ruleset = $event"
                v-model="ruleset_id"
                :data="valid_rulesets"
                placeholder="Choose a rule set">
                <template slot="suggestion" slot-scope="{ data, htmlText }">
                  <span v-html="htmlText"></span>&nbsp;<small>${ data.name || data.id }</small>
                </template>
              </vue-bootstrap-typeahead>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="ruleName">Rule Name</label>
            <input type="text" class="form-control" id="ruleName" placeholder="Rule Name" v-model="rulename" required />
          </div>
          <div class="form-group d-flex justify-content-around">
            {% if rule %}
              <button type="button" class="btn btn-primary" v-on:click.stop.prevent="update_rule()"><i class="fa fa-check mr-2"></i> Update Rule</button>
            {% endif %}
            <button type="submit" class="btn btn-primary"><i class="fa fa-check mr-2"></i> Save as a {% if rule %}New {% endif %}Rule</button>
          </div>
        </form>
      </div>
    </div>

  </div>

{{ rule.tags|json_script:'rule_tags' }}
<script>
(function() {
  {% if rule %}const RULE_TAGS = JSON.parse(document.getElementById('rule_tags').textContent);{% endif %}
  {% load js_csrf_token from core_tags %}
  const CSRF_TOKEN = '{% js_csrf_token %}';

  Vue.component('tag-form-modal', {
    delimiters: ['$[', ']'],
    extends: Vue.component('form-modal'),
    data() {
      return {
        fields: [
          { key: 'value', value: '', type: 'tag', selectedTag: null },
        ]
      }
    },
    created: function () {
      eventHub.$on('showModal_tag', this.showModal)
    },
    methods:{
      post_show: function(item){
        console.log('post_show', item)
        this.fields[0].selectedTag = item
        this.fields[0].value = item.value ? item.value : ''
      },
      save: function() {
        item.value = this.fields[0].value
        this.closeModal()
      }
    }
  });
  new Vue({
    delimiters: ['${', '}'],
    el: '#topic-tag-form',
    name: 'topic-tag-form',
    extends: Vue.component('base-list-form'),
    data() {
      return {
        csrfmiddlewaretoken: CSRF_TOKEN,
        selectedTag: {},
        valid_tags: [],
        model_selects: [],
        last_model_selected: false,
        rule_errors: {},
        tag: '',
        value: '',
        isAddingTag: false,
        isAddingModel: false,
        tag_topics_success: false,
        create_rule_success: false,
        show_save_rule: {% if rule %}true{%else%}false{%endif%},
        valid_rulesets: [],
        ruleset_type: {%if rule %}'current'{%else%}'new'{%endif%},
        ruleset_name: '',
        ruleset_id: {%if rule %}'{{ rule.rule_set.id|safe}}'{%else%}''{%endif%},
        rulename: {%if rule %}'{{ rule.name|safe}}'{%else%}''{%endif%},
        {% if rule %}items: RULE_TAGS,{% endif %}
      }
    },
    created: function () {
      axios.get('{% url 'core:tag_list_json' %}')
        .then(x => this.valid_tags = x.data.items)
        .catch(err => {
          console.error('loading tags error :', err);
        });
      eventHub.$on('tag_topics_success', this.show_tag_topics_success)
      eventHub.$on('apply_rule', this.apply_rule)
      eventHub.$on('applying_tags', this.set_status)
      eventHub.$on('applying_tags_error', this.set_error)
      eventHub.$on('tag_changed', x => {
        if (x.item.tag == 'modelRef') wait().then(this.reloadTags())
      })
    },
    mounted() {
      this.get_valid_rulesets()
    },
    computed: {
      sorted_items() {
        return this.items.sort((a,b) => {
          if (a.value && !b.value) return -1
          if (!a.value && b.value) return 1
          return a.tag.localeCompare(b.tag)
        })
      },
    },
    watch: {
      selectedTag: function (val) {
        if (val.kind == 'Marker') {
          this.save()
        }
      },
    },
    methods:{
      reset() {
        // call base reset
        this._reset()
        this.selectedTag = {}
        this.tag_topics_success = false
        this.create_rule_success = false
        this.rule_errors = {}
        this.tag = ''
        this.value = ''
        if (this.$refs.tagInput) this.$refs.tagInput.inputValue = ''
        this.last_model_selected = false
        this.model_selects = [{
          level: 0,
          select_model: this.select_model_cb(0),
          models: [],
          model: ''
        }]
        this.load_models(this.model_selects[0])
      },
      toggle_show_save_rule() {
        this.show_save_rule = !this.show_save_rule
        if (this.show_save_rule) {
          this.$nextTick(() => this.$refs.save_rule_title.scrollIntoView())
        }
      },
      set_status(saving) {
        this.currentStatus = saving ? STATUS_SAVING : STATUS_INITIAL
      },
      set_error(e) {
        this.errors = e
      },
      apply_rule(rule) {
        if (rule.tags) this.items = rule.tags
      },
      get_point_link(item) {
        return dutils.urls.resolve('point_detail', { id: item.point })
      },
      display_point(item) {
        return item.name || item.point
      },
      show_tag_topics_success(res) {
        this.tag_topics_success = res
      },
      should_display_tag(tag) {
        // do not display a tag that was inherited if another same tag overrides it
        if (!tag._protect) return true;
        var i = this.items.find(x => !x._protect && x.tag == tag.tag);
        return (!i);
      },
      model_link(item) {
        return dutils.urls.model_link(item)
      },
      model_link_text(item) {
        if (!item || !item.parent) return ''
        return item.parent.object_id || item.parent.entity_id
      },
      get_link(tag) {
        return dutils.urls.resolve_tag_linked_value(tag)
      },
      edit_tag(idx) {
        item = this.items[idx]
        eventHub.$emit('showModal_tag', item)
      },
      tag_needs_value(item) {
        return (item && item.kind && item.kind != 'Marker')
      },
      display_tag(item) {
        if (item.value) {
          return (item.tag) + ': ' + item.value
        } else {
          return '✓ ' + (item.tag)
        }
      },
      display_tag_short(item) {
        if (item.value) {
          return (item.tag) + ': ' + item.value
        } else {
          return '✓ ' + (item.tag)
        }
      },
      delete_item(item, idx) {
        console.log('delete_item', item, idx)
        this.$delete(this.items, idx)
        return Promise.resolve()
      },
      scroll_add_from_model(i) {
        if (i && this.$refs.add_tags_from_model_btn) {
          this.$refs.add_tags_from_model_btn.scrollIntoView()
        } else {
          setTimeout(()=>{
            this.$nextTick(() => this.scroll_add_from_model(1))
          },100)
        }
      },
      add_tag_if_not_in_items(tag, model) {
        if (!this.items) this.items = []
        var found = false
        for (var i=0; i<this.items.length; i++) {
          var t = this.items[i]
          if (t.tag == tag.tag) {
            found = t
            break
          }
        }
        if (found) {
          found.value = tag.value
          if (model) found.parent = model
        } else {
          if (model) tag.parent = model
          this.items.push(tag)
        }
      },
      save_tags_from_model() {
        this.scroll_add_from_model()
        if (!this.isAddingModel) {
          this.isAddingTag = false
          this.isAddingModel = true
          return
        }
        if (!this.last_model_selected) return
        tags = this.get_model_kvtags(this.last_model_selected).concat(this.get_model_mtags(this.last_model_selected))
        console.log('** save_tags_from_model', tags)
        for (var i=0; i<tags.length; i++) {
          console.log('** save_tags_from_model add tag', tags[i])
          this.add_tag_if_not_in_items(tags[i], this.last_model_selected)
        }
      },
      scroll_add_tag(i) {
        if (i && this.$refs.tag_list) {
          this.$refs.tag_list.scrollIntoView()
        } else {
          setTimeout(()=>{
            this.$nextTick(() => this.scroll_add_tag(1))
          },100)
        }
      },
      save() {
        this.scroll_add_tag()
        if (!this.isAddingTag) {
          this.isAddingTag = true
          this.isAddingModel = false
          return
        }
        var i = this.items.find(x => !x._protect && x.tag == (this.selectedTag ? this.selectedTag.tag : this.tag));
        if (i) {
          this.errors = getResponseError('This Tag is already set ' + (i.description || i.tag) + (i.value ? ': ' + i.value : ''))
          return
        }

        t = this.selectedTag ? this.selectedTag.tag : this.tag
        v = null
        var need_val = this.tag_needs_value(this.selectedTag)
        var has_val = this.value && this.value.length
        if (need_val) {
          if (has_val) {
            v = this.value
          } else {
            this.errors = getResponseError({error: 'This Tag requires a value', value: ['A value is required']})
            return
          }
        }
        _tag = {tag: t, value: v}
        if (this.selectedTag) {
          _tag.kind = this.selectedTag.kind
          _tag.description = this.selectedTag.description
        }
        if (_tag.tag) {
          console.log('*** add tag', _tag, this.selectedTag)
          this.items.push(_tag)
          this.reset()
        }
      },
      apply_tags() {
        console.log('*** apply tags', this.items)
        this.errors = {}
        eventHub.$emit('apply_tags', this.items)
      },
      get_model_mtags(model) {
        if (!model || !model.m_tags) return []
        var tags = []
        for (var i=0; i<model.m_tags.length; i++) {
          var key = model.m_tags[i]
          if (key == 'model') continue
          tags.push({tag: key})
        }
        return tags
      },
      get_model_kvtags(model) {
        if (!model || !model.kv_tags) return []
        var tags = []
        for (var key in model.kv_tags) {
          // remove tags we do not want to list
          if (key == 'id') continue
          if (key == 'dis') continue
          if (key == 'modelRef') continue
          if (model.kv_tags.hasOwnProperty(key)) {
            tags.push({tag: key, value: model.kv_tags[key]})
          }
        }
        return tags
      },
      select_model_cb(idx) {
        return x => {
          console.log('*** selected_model for', idx, x)
          // incase of deselect x will be null
          if (x) {
            this.last_model_selected = x
            level = idx+1
          } else {
            if (idx>0) {
              this.last_model_selected = this.model_selects[idx-1].model
            } else {
              this.last_model_selected = false
            }
            level = idx
          }
          if (this.model_selects.length > level) {
            this.model_selects.splice(level)
          }
          this.model_selects.push({
            level: level,
            select_model: this.select_model_cb(level),
            models: null,
            parent: x,
            model: ''
            })
          this.load_models(this.model_selects[this.model_selects.length-1], true)
        }
      },
      load_models(model_select, scroll) {
        console.log('** load_models for =', model_select)
        parent = '_'
        if (model_select.parent && model_select.parent.object_id) {
          parent = model_select.parent.object_id
        }
        url = dutils.urls.resolve('model_list_json') + '?parent=' + parent
        axios.get(url)
          .then(x => {
            console.log('load_models', x.data.items)
            if (x.data.items && x.data.items.length) model_select.models = x.data.items
              if (scroll) this.scroll_add_from_model()
          })
          .catch(err => {
            console.error('loading models error :', err);
          });
      },
      get_valid_rulesets(site) {
        url = dutils.urls.resolve('topic_rules')
        axios.get(url)
          .then(x => {
            console.log('get_valid_rulesets', x.data.rules)
            this.valid_rulesets = x.data.rules
          })
          .catch(err => {
            console.error('loading valid_rulesets error :', err);
          });
      },
      update_rule() {
        console.log('Update rule !')
      {% if rule %}
        this.set_save_rule({
          rule_id: '{{ rule.id }}',
          rule_set_id: '{{ rule.rule_set.id }}'
        })
      {% endif %}
      },
      set_save_rule(update_data) {
        // check there are filters or tags to save
        filters = eventHub.get_filters()
        select_not_mapped_topics = eventHub.get_select_not_mapped_topics()
        valid_filters = []
        tags = this.items
        this.create_rule_success = false
        console.log('*** ruleset_type =', this.ruleset_type)
        console.log('*** ruleset_name =', this.ruleset_name)
        console.log('*** rulename =', this.rulename)
        console.log('*** tags =', tags)
        console.log('*** filters =', filters)
        console.log('*** select_not_mapped_topics =', select_not_mapped_topics)
        // build text of selected filters and tags:
        details = ''
        for (var i=0; i<filters.length; i++) {
          // check at least one has value
          f = filters[i]
          if (f.value) {
            valid_filters.push({type: f.type, value: f.value})
            if (f.type == 'c') {
              details += ' contain'
            } else if (f.type == 'nc') {
              details += ' does not contain'
            }
            details += ' "' + f.value + '", '
          }
        }
        if (valid_filters.length) {
          details = 'for topics that ' + details
        } else {
          details = 'for *ALL* topics ' + details
        }
        console.log('*** valid_filters =', valid_filters)
        if (tags.length) {
          details += ' apply the tags: '
          for (var i=0; i<tags.length; i++) {
            if (i > 0) details += ', '
            tag = tags[i]
            details += tag.tag
            if (tag.value) details += '=' + tag.value
          }
        }
        if (!valid_filters.length || !tags.length) {
          return this.rule_errors = {error: 'No filters or tags to save.'}
        }

        // Save it:
        this.rule_errors = {}
        url = dutils.urls.resolve('topic_rules')
        data = {name: this.rulename, tags: tags, filters: valid_filters}
        if (update_data) {
          if (update_data.rule_id) {
            data.rule_id = update_data.rule_id
          }
          if (update_data.rule_set_id) {
            data.rule_set_id = update_data.rule_set_id
          }
        }
        if ('new' == this.ruleset_type) {
          data.rule_set_id = 'new'
          data.rule_set_name = this.ruleset_name
        } else if ('existing' == this.ruleset_type) {
          if (this.selected_ruleset) {
            if (this.selected_ruleset.rule_set_id) {
              data.rule_set_id = this.selected_ruleset.rule_set_id
            } else {
              data.rule_set_name = this.selected_ruleset.name
            }
          } else {
            data.rule_set_name = this.ruleset_name
          }
        } else if ('current' == this.ruleset_type) {
              data.rule_set_id = this.ruleset_id
        }
        console.log('saving rule', data);
        axios.post(url, data, {headers: {'X-CSRFToken': this.csrfmiddlewaretoken}})
          .then(x => x.data)
          .then(x => {
            if (x.success) {
              console.log('saved rule, rules = ', x)
              this.create_rule_success = {
                action: (x.success == 'updated') ? 'updated' : 'created',
                details: details,
                rule: x.rule,
                rule_set: x.rule_set
              }
            } else {
              return Promise.reject(x.errors)
            }
          })
          .catch(err => {
            e = getResponseError(err)
            console.error(e, err)
            this.rule_errors = e
          });
      }
    }
  });
  new Vue({
    delimiters: ['${', '}'],
    el: '#topics-list',
    name: 'topics-list',
    data() {
      return {
        csrfmiddlewaretoken: CSRF_TOKEN,
        page: 1,
        filters: [
          {% for f in used_filters %}
            { type: '{{f.type|default:"c"}}', value: '{{f.value}}'},
          {% endfor %}
        ],
        selected_topics: {},
        select_not_mapped_topics: false,
        all_checked: false,
        select_all_matching: false
      }
    },
    mounted: function () {
        this.setup_table()
        this.read_page_number(window.location.href)
    },
    created: function () {
      eventHub.$on('apply_tags', this.apply_tags)
      eventHub.get_filters = () => {
        return this.filters
      }
      eventHub.get_select_not_mapped_topics = () => {
        return this.select_not_mapped_topics
      }
    },
    watch: {
      select_all_matching: function (val) {
        if (val) {
          this.select_all(true, true)
        } else {
          this.sync_select()
        }
        this.disable_checkboxes(val)
      },
    },
    methods: {
      noop() {
        console.log('noop __')
      },
      apply_rule(rule) {
        console.log('** apply rule', rule)
        if (rule.filters) {
          this.filters = rule.filters
          this.submit_filters()
        }
        eventHub.$emit('apply_rule', rule)
      },
      setup_table() {
        this.setup_pager()
        this.setup_checkboxes()
      },
      disable_checkboxes(val) {
        console.log('disable_checkboxes', val)
        cbs = el.querySelectorAll('input[type="checkbox"]')
        for (var i=0; i<cbs.length; i++) {
          cb = cbs[i]
          if (!cb.id) {
            cbs[i].disabled = val
          }
        }
      },
      setup_checkboxes() {
        el = this.$refs['table_container']
        select_all = el.querySelector('thead input[type="checkbox"]')
        console.log('add select_all handler for', select_all)
        _this = this
        cbs = el.querySelectorAll('input[type="checkbox"]')
        all_checked = cbs.length > 1
        has_checkboxes = false
        console.log('initial select_all checked', all_checked, cbs.length)
        for (var i=0; i<cbs.length; i++) {
            cb = cbs[i]
            if (cb.value && cb.name && cb.name.length) {
                if (cb.name != '_ALL_') has_checkboxes = true
                if (_this.select_all_matching || _this.selected_topics[cb.value]) {
                    cb.checked = true
                } else {
                    all_checked = false
                }
                cb.addEventListener('change', function(event) {
                    _this.selected_topics[this.value] = this.checked
                });
            } else {
                cb.checked = false
            }
        }
        if (!has_checkboxes) {
          all_checked = false
        }
        console.log('set select_all checked', all_checked)
        select_all.checked = all_checked
        this.all_checked = all_checked
        select_all.addEventListener('change', function(event) {
            console.log('* change select_all', this.checked)
            _this.select_all(this.checked)
        });
        this.disable_checkboxes(this.select_all_matching)
      },
      setup_pager() {
        el = this.$refs['table_container']
        console.log('table = ', el)
        pagers = el.querySelectorAll('nav li.page-item')
        _this = this
        for (var i=0; i<pagers.length; i++) {
            el = pagers[i]
            console.log('add pager handler for', el)
            el.addEventListener('click', function(event) {
              console.log('click', this)
              _this.load_page(this.querySelector('a').href)
              event.preventDefault()
              return false
            });
        }
      },
      sync_select() {
        el = this.$refs['table_container']
        cbs = el.querySelectorAll('input[type="checkbox"]')
        all_checked = cbs.length > 1
        _this = this
        for (var i=0; i<cbs.length; i++) {
            cb = cbs[i]
            if (cb.value && cb.name && cb.name.length && cb.name != '_ALL_') {
              cb.checked = _this.selected_topics[cb.value]
              if (!_this.selected_topics[cb.value]) {
                all_checked = false
              }
            }
        }
        select_all = el.querySelector('thead input[type="checkbox"]')
        select_all.checked = all_checked
        this.all_checked = all_checked
        console.log('sync_select set select_all checked', all_checked)
      },
      select_all(checked, skipSave) {
        el = this.$refs['table_container']
        cbs = el.querySelectorAll('input[type="checkbox"]')
        _this = this
        for (var i=0; i<cbs.length; i++) {
            cb = cbs[i]
            cb.checked = checked
            console.log('*** set checkbox', cb)
            if (!skipSave && cb.value && cb.name && cb.name.length) {
              _this.selected_topics[cb.value] = checked
            }
        }
        this.all_checked = checked
        console.log('select_all set select_all checked', checked)
      },
      filter_on_enter(e) {
        if (e.keyCode === 13) {
            this.submit_filters()
        }
      },
      changed_filter_type(filter, index) {
        console.log('changed_filter_type', filter)
        if (filter.value && index < this.filters.length-1) {
            this.load_page()
        }
      },
      delete_filter(filter, index) {
        console.log('delete_filter', filter)
        this.filters.splice(index, 1)
        this.submit_filters()
      },
      check_add_blank_filter() {
        f = this.filters[this.filters.length-1]
        console.log('check_add_blank_filter last filter', f, this.filters)
        if (f.value && f.value.trim().length) this.filters.push({type: 'c', value: ''})
      },
      add_filter(filter) {
        console.log('add_filter', filter)
        if (filter.value) {
            this.filters.push({type: 'c', value: ''})
            this.submit_filters()
        }
      },
      build_filter_data(formData) {
        n = 0
        for (i=0; i<this.filters.length; i++) {
            f = this.filters[i]
            if (f.value) {
                formData.set('t'+n, f.type)
                formData.set('f'+n, f.value)
                n++
            }
        }
        formData.set('filters_count', n)
        console.log('build_filter_data select_not_mapped_topics = ', this.select_not_mapped_topics)
        if (this.select_not_mapped_topics) {
          formData.set('select_not_mapped_topics', 1)
        }
      },
      submit_filters(event) {
        console.log('submit_filters...', event)
        this.check_add_blank_filter()
        this.load_page()
        if (event) {
            event.preventDefault()
            return false
        }
      },
      read_page_number(href) {
        if (href) {
            g = href.match('\\?.+$')
            if (!g) {
              this.page = 1
              return
            }
            params = g[0]
            g = params.match('page=(\\d+)')
            this.page = g ? g[1] : 1
            console.log('read_page_number [' + this.page + '] from params', params)
        }
      },
      load_page(href) {
        this.read_page_number(href)
        url = dutils.urls.resolve('topic_list_table')
        container = this.$refs['table_container']
        const formData = new FormData()
        this.build_filter_data(formData)
        formData.set('csrfmiddlewaretoken', this.csrfmiddlewaretoken)
        axios.post(url + '?page=' + this.page, formData).then(response => {
            container.innerHTML = response.data
            this.setup_table()
        });
      },
      apply_tags(items) {
        console.log('apply_tags tag = ', items)
        console.log('apply_tags to topics = ', this.selected_topics)
        // post as JSON
        tags = []
        for (var i=0; i<items.length; i++) {
          tags.push({tag: items[i].tag, value: items[i].value})
        }
        topics = []
        for (x in this.selected_topics) {
          if (x && this.selected_topics.hasOwnProperty(x)) {
            topics.push(x)
          }
        }
        filters = []
        for (i=0; i<this.filters.length; i++) {
          if (this.filters[i].value && this.filters[i].value.length) {
            filters.push({t: this.filters[i].type, f: this.filters[i].value})
          }
        }
        data = {tags: tags, topics: topics, filters: filters, select_all: this.select_all_matching}
        if (this.select_not_mapped_topics) {
          data.select_not_mapped_topics = 1
        }
        console.log('apply_tags JSON = ', data)
        if (tags.length) {
          eventHub.$emit('applying_tags', true)
          url = dutils.urls.resolve('tag_topics')
          axios.post(url, data, {headers: {'X-CSRFToken': this.csrfmiddlewaretoken}})
            // get data
            .then(x => x.data)
            .then(x => {
              if (x.success) {
                this.post_save(x)
                eventHub.$emit('applying_tags', false)
                return x
              } else {
                return Promise.reject(x.errors)
              }
            })
            .catch(err => {
              eventHub.$emit('applying_tags', false)
              e = getResponseError(err)
              console.error(e, err)
              eventHub.$emit('applying_tags_error', e)
            });
        }
      },
      post_save(x) {
        console.log('updated topics tags', x.updated)
        eventHub.$emit('tag_topics_success', x)
      }
    }
  });
})();
</script>
{% endblock content %}
