{% extends "base.html" %}
{% comment 'header' %}
# This file is part of opentaps Smart Energy Applications Suite (SEAS).

# opentaps Smart Energy Applications Suite (SEAS) is free software:
# you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# opentaps Smart Energy Applications Suite (SEAS) is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.

# You should have received a copy of the GNU Lesser General Public License
# along with opentaps Smart Energy Applications Suite (SEAS).
# If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load django_tables2 %}
{% load static i18n %}
{% block title %}Weather Station: {{ object }}{% endblock %}

{% block content %}
<div class="container">

  <div class="card mb-3">
    <div class="card-body">
      {% if object.station_name %}
        <h2>Weather Station {{ object.station_name }} <span style="font-size: 1rem;">({{ object.weather_station_code | default:object.weather_station_id }})</span></h2>
      {% else %}
        <h2>Weather Station {{ object }}</h2>
      {% endif %}
      <br/>

      {% block inner_content %}

      <table style="margin-left: 4em;">
          <tr>
            <td>USAF ID:</td>
            <td>{{ object.weather_station_code | default:'n/a' }}</td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>
              {% if object.weather_station_code %}<a target="_blank" href="{% url 'core:weather_station_geoview' object.weather_station_code %}">{% endif %}
                {{ object.station_name | default:'n/a' }}
              {% if object.weather_station_code %}</a>{% endif %}
            </td>
          </tr>
          <tr>
            <td>Country:</td>
            <td>{{ object.country | default:'n/a' }}</td>
          </tr>
          <tr>
            <td>Latitude:</td>
            <td>{{ object.latitude | default:'n/a' }}</td>
          </tr>
          <tr>
            <td>Longitude:</td>
            <td>{{ object.longitude | default:'n/a' }}</td>
          </tr>
          <tr>
            <td>Elevation:</td>
            <td>{{ object.elevation }}</td>
          </tr>
      </table>

      <p>
        {% include "core/_weather_history_chart.html" with weather_station_id=object.weather_station_id %}
      </p>
      {% endblock inner_content %}
    </div>
  </div>
</div>
{% endblock content %}
