{% extends "base.html" %}
{% comment 'header' %}
# This file is part of opentaps Smart Energy Applications Suite (SEAS).

# opentaps Smart Energy Applications Suite (SEAS) is free software:
# you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# opentaps Smart Energy Applications Suite (SEAS) is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.

# You should have received a copy of the GNU Lesser General Public License
# along with opentaps Smart Energy Applications Suite (SEAS).
# If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}

{% block title %}Model: {{ object.entity_id }}{% endblock %}

{% block content %}
<div class="container">

  {% include "core/_breadcrumbs.html" %}

  <div class="card mb-3">
    <div class="card-body">
      <h2 class="d-flex">
        Model {{ object.meter.description }} {{ object.model_class }}
        {% block add_button %}
        <div class="ml-auto">
          <form class="d-inline" method="post" action="{% url 'core:meter_model_calc_saving' object.meter_id object.id %}">{% csrf_token %}<button class="btn btn-primary ml-auto" type="submit"><i class="fa fa-dollar-sign"></i> Record Savings</button></form>
          <a href="{% url 'core:meter_model_delete' object.meter_id object.id %}" role="button" class="btn btn-danger"><i class="fa fa-trash mr-2"></i> Delete</a>
        </div>
        {% endblock add_button %}
      </h2>
      {% block inner_content %}
      <pre>{{ object.data | pprint }}</pre>
      {% endblock inner_content %}
    </div>
  </div>

</div>
{% endblock content %}
